<html>
    <head>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>
    <body>
        <header>
            <h1>
                unstructured data ahead
            </h1>
            <ul>
                <% %w(foo bar baz).each do |item| %>
                <li>
                    <%= item %>
                </li>
                <% end %>
            </ul>
        </header>
        <main>
            <%= post_contents %>
        </main>
        <footer>
        </footer>
    </body>
</html>
