<html>
    <head>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>
    <body>
        <header>
            <h1>
                Todo
                <!--                 !!! unstructured data ahead !!! -->
            </h1>
            <nav>
                <%= menu_contents %>
            </nav>
        </header>

        <main>
            <%= post_contents %>
        </main>
        <footer>
        </footer>
    </body>
</html>
