<html>
    <head>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>
    <body>
        <header>
            <h1>
                unstructured data ahead
            </h1>
            <%= menu_contents %>
        </header>
        <main>
            <%= post_contents %>
        </main>
        <footer>
        </footer>
    </body>
</html>
