h1,
h2 {
    text-transform: capitalize;
}

header {
}

header h1 {
    background-color: #333;
    color: #ccc;
    text-transform: capitalize;
    text-align: center;
    padding: 1em;
}

main {
    overflow: auto;
    border-top: 3px dashed;
}
